
h1, h2, h3 {
    color: aliceblue;
}

#url {
   
color: aqua;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bio {
color: red;
}

#name {
color:yellow;
}

body {
    font-size:22px;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
